{% extends 'base.html' %}
{% block purch %}
    <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Список клиентов</th>
              <th scope="col">Возраст</th>
              <th scope="col">Дата покупки</th>
            </tr>
          </thead>
          <tbody>
          {% for purchase in purchases %}
            <tr>
              <th scope="row">{{ purchase.id }}</th>
              <td>{{ purchase.name }}</td>
              <td>{{ purchase.age }}</td>
              <td>{{ purchase.date_purchase }}</td>
              <td><a href="{{ url_for('single_purchase', purchase_id=purchase.id) }}">Подробнее</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div>
      <a href="{{ url_for('create_purchase') }}" class="btn btn-warning">Добавить продажу</a>
    </div>
{% endblock %}


